body, p, li, a { font-family: georgia, times, serif; font-size:13pt; }

h1, h2, h3 { font-family: Verdana, arial, serif; }

body { margin:0; padding:0; background-color: #2B2B2B; }

#hd 
{
	width: 100%;
	height: 87px;
	background-color: #000;
	margin-top: 0;
	padding-top: 16px;	
	z-index: 0;
}

#ft 
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #000;	
	z-index: 0;
}

#logo,#bd 
{
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}

#logo h1 
{
	color : white;
	font-size:30pt;
	display: inline;
}

#logo img 
{ 
	display: inline;
	vertical-align: bottom;
	margin-left : 50px;
	margin-right : 5px;
}

body { margin-top: 0; padding-top: 0; }

#logo, #logo h1 { margin-top: 0; padding-top: 0; }

#bd 
{
	position: absolute;	
	top: 75px;
	bottom: 25px;
	z-index: 1;
	overflow: auto;
	background-color: #fff;
}

a, a:visited, a:hover, a:active { color: #FF5500; }

h2 
{
	padding: 0; 
	margin: 0;
	font-size: 24pt;
	color: #FF5500;
}

h3 
{
	padding: 0; 
	margin: 0;
	font-size: 20pt;
	color: #092E67;
}

label 
{
    display: block;
    text-align: right;
    margin-right: 8px;
    width: 100px;
    float: left;
}

table, td, th
{
	border: 0px;
	padding: 5px;
	padding-right: 18px;
}

th
{
	font-weight: bold;
	text-align: left;
}